# Python and IDE
__pycache__/
.vscode/settings.json

# Binary management
binaries/*
binaries/win64/*
binaries/linux/*

# Keep directory structure and rename file for Linux
!binaries/
!binaries/win64/
!binaries/linux/
!binaries/linux/rename_this_to_keep_user_binary.txt